name: Deploy to Github Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      module-working-directory: bindings/javascript
      website-working-directory: website

    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: Build module
        run: npm install && npm run build
        working-directory: bindings/javascript
      - name: Copy models
        run: cp -r models website/public/models
      - name: Build website
        run: npm ci && npm run build
        working-directory: website
      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-pages
          FOLDER: website/dist
          GIT_CONFIG_NAME: Github Action
          GIT_CONFIG_EMAIL: action@github.com